.dashboard-wrapper {
	width: 90%;
}

.graph-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.pie {
	width: 48%;
}

.bar {
	width: 48%;
}

.ketstat-container {
	display: flex;
	width: 100%;
}

.about {
	margin-left: 16px;
	width: 50%;
}

.about p {
	font-size: 14pt;
}