.Addasset-wrapper {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.addbutton-wrapper {
  text-align: center;
}

.button-group {
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.textfield-wrapper {
  display: flex;
  justify-content: space-around;
}