.modal-wrapper {
  width: 90%;
  margin: 0 auto;
}

.table-wrapper {
  display: flex;
  justify-content: space-between;
}

.textfield-wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 400px;
}